.card-width {
	width: 75%;
}
.bootstrap-select .btn:focus {
    outline: none !important;
}


.ballot-instructions {
	width: 100%;
}

.ballot-info {
	width: 25%;
}

@media (max-width: 768px) {
	.ballot-header {
		font-size: 1rem;
		margin: 0;
		padding: 1;
	}

	.ballot-sub-text {
		font-size: .5rem;
		margin: 0
	}

	.ballot-img {
		width: 35%;
	}

	.ballot-img img{
		background-position: center;
  		background-size: cover;
	}

	.card-width {
		width: 100%;
	}

	.ballot-instructions {
		width: 100%;
	}

	.ballot-info {
		width: 100%;
	}

}