{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Student Election</title>
    <link rel="icon" type="image/png" href="{% static 'users/css/images/comselec.png' %}" sizes="128x128" />

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'election/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'election/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'election/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'election/css/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'election/css/jquery-ui.theme.css' %}">


    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h3>Comselec</h3>
                <strong>CO</strong>
            </div>
            <div class="sidebar-header-election text-center">
                <h5>Supreme Student Council</h5>
                <strong>SSC</strong>
            </div>
            <ul class="list-unstyled components">
            <li>
                <a href="#sscForm" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-plus-square"></i>
                    File Candidacy
                </a>
                <ul class="collapse list-unstyled" id="sscForm">    
                    {% for electionType in electionTypes %}
                    {% if electionType.election_name == 'Supreme Student Council' %}    
                    <li>
                        <a href="{% url 'create-ssc-form' 'Major Position' electionType.id  %}">President & Vice President</a>
                    </li>
                    <li>
                        <a href="{% url 'create-ssc-form' 'Baord Member' electionType.id  %}">Board Member</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#formId" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-list-alt"></i>
                    View Candidacy
                </a>
                    <ul class="collapse list-unstyled" id="formId"> 
                        <li>
                            <a href="{% url 'view-ssc-form' 'Major Position' 1  %}">Partylist</a>
                        </li> 
                        <li>
                            <a href="{% url 'view-ssc-form' 'Baord Member' 1  %}">Board Members</a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="#voterForm" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-list-alt"></i>
                    Voters
                </a>
                <ul class="collapse list-unstyled" id="voterForm"> 
                        <li>
                            <a href="#" data-toggle="modal" data-target="#addVoterModal">Add Voter</a>
                        </li> 
                        <li>
                            <a href="{% url 'view-ssc-voter' %}">View Voter</a>
                        </li>
                    </ul>
            </li>
            </ul>
            <ul class="list-unstyled components pt-1">
                <div class="sidebar-header-election text-center">
                    <h5>Central/College and Institute Student Council</h5>
                    <strong>CISC</strong>
                 </div>
                <li>
                    <a href="#formId" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-plus-square"></i>
                        Create Election
                    </a>
                    
                </li>
                    

                   {% for campus in campuses %}
                <li>

                    <a href="#{{ campus.id }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-university"></i>
                        {{ campus.campus_name }}
                    </a>
                    <ul class="collapse list-unstyled" id="{{ campus.id }}">
                        {% for college in colleges %}
                        {% if college.2 == campus.id %}
                        <li>
                            <a href="#">{{ college.1 }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                    {% endfor %}
                <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Contact Dev
                    </a>
                </li>
                <li>
                    <a href="{% url 'view-utilities' %}">
                        <i class="fas fa-cog"></i>
                        Utilities
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a class="bg-light text-primary text-center" href="{% url 'view-utilities' %}" class="download">Utilities</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <button class="btn btn-light" data-toggle="modal" data-target="#electionModal">Elections
                                {% if notification %}
                                <span class="badge badge-primary">
                                    {{ pending }}
                                </span>
                                {% endif %}
                                </button>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Election SSC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'election-home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#accountModal">
                                    Account
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid p-0">
                {% if messages  %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                       
                    {% endfor %}
                {% endif %}
                {% block content%}{% endblock %}
            </div>
        </div>
    </div>
    <!-- Modal for accounts -->
    {% include "election/modal_navbar.html" %}
    <!-- jQuery CDN - Slim version (=without AJAX) -->
     <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="{% static 'election/js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'election/js/jquery.js' %}"></script> 
    <script type="text/javascript" src="{% static 'election/js/jquery-ui.js' %}"></script>   
    <script type="text/javascript" src="{% static 'election/js/jquery-ui.min.js' %}"></script>   
    <script type="text/javascript" src="{% static 'election/js/jquery.ui.touch-punch.min.js' %}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
<script>
 // new Darkmode().showWidget();

</script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>

</html>