{% extends "election/admin_base.html" %}
{% block content %}
{% if text == 'pending' %}

<div class="d-flex flex-column justify-content-center">
	<div class="p-2">
		<ul class="list-group">
		<li class="list-group-item active">
			<h5 class="text-uppercase">Pending Section</h5>
		</li>
		{% for i in partylists %}
		<li class="list-group-item">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{ i.election_name }}</h5>
				<small>not started</small>
			</div>
			<p class="mb-1">
				This is a pending election by clicking start it will begin the election
				process
			</p>
			<small class="text-muted">Tip: always preview ballot before start the election</small>

			<hr>
			<a href="#" class="btn btn-primary">Start Election</a>
			<a href="{% url 'preview-ballot' i.election_name %}" target="blank" class="btn btn-secondary">Preview Ballot</a>
		</li>
		{% endfor %}
		</div>
	</ul>
	</div>
</div>

{% else %}
<div class="d-flex p-2 border">{{ text }}</div>
{% endif %}

{% endblock content %}