{% extends "election/admin_base.html" %}
{% block content %}

<div class="d-flex align-content-start flex-wrap" >
      <div class="align-self-start animate-first">
            <h2 class="font-weight-bold">The Commission on Student Election</h2>
            <h3 class="font-weight-light">is an independent body under the Supreme Student 
            Council’s Constitution and By-laws. Wherein its independent principles are applied to its decision making especially during the Election.</h3>
      </div>
      <div class="align-content-start animate-second">
            <div id="gear-animation" style="width: 400px; height: 400px"></div>
      </div>
</div>

{% endblock content %}