<!-- Modal account -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="card">
  <div class="card-header">
    {% if user.is_authenticated %}
      {{ user.first_name }} {{ user.last_name }}
    {% endif %}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="{% url 'profile' %}">
        Account Settings  
      </a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'logout' %}">
      Logout
      </a>
    </li>
  </ul>
</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal election -->
<div class="modal fade" id="electionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Comselec Election</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="card">
  <div class="card-header">
    Select Election
  </div>
  <ul class="list-group">
  {% if checkElection > 0 %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="{% url 'view-election' 'active' %}">
      Active Election 
    </a>
    {% if pending > 0 %}
      <span class="badge badge-primary badge-pill">
         {{ pending }}
      </span>
    {% endif %}
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="{% url 'view-election' 'pending' %}">
      Pending Election 
        </a>
        {% if pending > 0 %}
        <span class="badge badge-danger badge-pill">
         {{ pending }}
        </span>
        {% endif %}
    </li>
    {% else %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="text-muted">No Election</span>
    </li>
    {% endif %}
</ul>
</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal addvoter cisc -->
<div class="modal fade" id="addVoterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">Add Voter SSC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col p-3">
              <p class="text-dark">Select college & campus to proceed to forms</p>
            </div>
          </div>
          {% for campus in campuses %}
          <div class="row">
            <div class="col">
              <div class="list-group">
                <button class="list-group-item list-group-item-action active mt-2" disabled>{{campus.campus_name}}</button>

                {% for college in colleges %}
                  {% if college.2 == campus.id %}
                <a href="{% url 'add-ssc-voter' college.0 %}" class="list-group-item list-group-item-action">{{ college.1 }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>