{% if objectCount > 0 %}
<div class="d-flex">
  <div class="p-2">
  <select class="form-control col-sm-12" onchange="location = this.value;">
      {% for campus in campuses %}
      <option disabled value class="active bg-dark text-white">{{campus.campus_name}}</option>
      {% for model in models %}
      {% if model.campus_id ==  campus.id %} 
      {% if model.id == recent_id %}
      <option value="{% url 'filter-ssc-form' types model.id electionType %}" selected>{{ model.college_name }}</option>
      {% else %}
      <option value="{% url 'filter-ssc-form' types model.id electionType %}">{{ model.college_name }}</option>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% endfor %}
  </select>
    <small class="form-text text-muted m-1">Select college according in campus to filter</small>
  </div>
  
</div>
<div class="d-flex justify-content-end">
    <div class="p-2">
        <a id="add" class="btn btn-primary text-white"
          href="{% url 'create-ssc-form' 'Baord Member' electionType %}">Add Board Member</a>
    </div>
</div>
<div class="d-flex align-items-start flex-column">
  <div class="p-1">
    <h3>Board Members Section</h3>
  </div>
  <div class="p-1">
    <p>For : <span class="font-weight-bold">{{ campus_name }}</span></p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <table class="table table-hover">
    <caption>List of candidates</caption>
    <thead>
      <tr>
        <th style="width: 10%">#</th>
        <th style="width: 40%">Candidate Name</th>
        <th style="width: 30%">Position Name</th>
        <th style="width: 20%">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if candidates %}
      {% for candidate in candidates %}
      <tr class="sortable">
        <th class="align-middle" scope="row">{{ forloop.counter }}</th>
        <td class="align-middle">{{ candidate.candidate_name }}</td>
        <td class="align-middle">{{ candidate.position.position_name }}</td>
        <td>
          <button type="button" class="btn btn-secondary mt-1 mr-1" data-toggle="modal" data-target="#staticBackdrop" data-whatever="{{candidate.candidate_name}}"  data-url="{% url 'candidate-update' candidate.id types %}">
            <i class="fas fa-edit fa-fw"></i>
          </button>
          <button type="button" class="btn btn-danger mt-1 mr-1" data-toggle="modal" data-target="#staticDelete" data-whatever="{{candidate.candidate_name}}" data-url="{% url 'candidate-delete' candidate.id types %}">
            <i class="fas fa-trash-alt fa-fw"></i>
          </button>
          <button type="button" class="btn btn-dark mt-1 mr-1" data-toggle="modal" data-target="#staticDisqualify" data-whatever="{{candidate.candidate_name}}" data-url="{% url 'candidate-disqualify' candidate.id types %}" title="Disqualify candidate">
              <i class="fas fa-user-slash fa-fw"></i>
          </button>
        </a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="sortable">
      <td class="align-middle text-center text-muted" colspan="4">No candidates</td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>

<div class="d-flex bd-highlight mb-3">
  <div class="p-1">
    <h3>Disqualification Section</h3>
  </div>
</div>
<!-- disqualify section -->
<div class="d-flex justify-content-center my-3">
  <table class="table table-hover">
    <caption>List of disqualify candidates</caption>
    <thead>
      <tr>
        <th style="width: 10%">#</th>
        <th style="width: 40%">Candidate Name</th>
        <th style="width: 30%">Position Name</th>
        <th style="width: 20%">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if disqualified %}
      {% for disqualify in disqualified %}
      <tr class="sortable">
        <th class="align-middle" scope="row">{{ forloop.counter }}</th>
        <td class="align-middle">{{ disqualify.candidate_name }}</td>
        <td class="align-middle">{{ disqualify.position.position_name }}</td>
        <td>
          <button type="button" class="btn btn-dark mt-1 mr-1" data-toggle="modal" data-target="#staticUndisqualifyBoard" data-whatever='{"name": "{{disqualify.candidate_name}}", "collegeId": {{disqualify.college.id}}, "campusId": {{disqualify.campus.id}}, "positionId": {{disqualify.position.id}},"id": {{disqualify.id}}}' data-url="{% url 'save-ssc-form' types %}" title="Remove candidate from disqualify">
            <i class="fas fa-user-minus fa-fw"></i>
          </button>
          <button type="button" class="btn btn-danger mt-1 mr-1" data-toggle="modal" data-target="#staticDeleteDisqualify" data-whatever="{{disqualify.candidate_name}}" data-url="{% url 'disqualify-delete' disqualify.id %}" title="Delete candidate">
            <i class="fas fa-trash-alt fa-fw"></i>
          </button>
          </a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="sortable">
      <td class="align-middle text-center text-muted" colspan="4">No disqualify candidates</td>
    </tr>
    {% endif %}
</tbody>
</table>
</div>
{% else %}
<h1 class="text-center text-muted">No data for Board Member</h1>
{% endif %}