{% extends "election/admin_base.html" %}
{% block content %}
<div class="container">
<form method="POST" action="{% url 'position-add' %}">
{% csrf_token %}
<div class="col">
	<h1 class="text-center m-5">Add New Position</h1>
	<div class="container">
  		<div class="row my-1">
    		<div class="col">
      			<select class="form-control  col-sm-3" name="electionTypeId" required>
  					{% for electionType in electionTypes %}
  					<option value="{{ electionType.id }}" >{{ electionType.election_name }}</option>
  					{% endfor %}
				</select>
    		</div>
    <div class="w-100"></div>
    <div class="col">
    	<small class="form-text text-muted">Select election type to register college</small>
    </div>
    <div class="w-100"></div>
    <div class="col m-1">
      	<a href="{% url 'position-add' %}" class="btn btn-secondary">Add Election Type</a>
      	<br>
      	<small class="form-text text-muted">Click here to add new Election Type</small>
    </div>
  		</div>
	</div>
	<div class="row">
			<div class="col">
				<button id="add" class="btn btn-secondary text-white float-right m-1">Add Action</button>
	    	</div>
	</div>
	<div class="row">
	    	<div class="col">
				<small class="form-text text-muted float-right m-1">Click to add input</small>
	    	</div>
	    </div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Positions Name</th>
				<th scope="col">Action</th>
			</tr>
		</thead>

		<tbody id="add-table">

		</tbody>
	</table>
	<button id="save" type="submit" class="btn btn-info m-1" disabled>Save</button>
</form>
<a class="btn btn-primary m-1 float-right text-white"
href="{% url 'position-edit' %}"
>Edit Position</a>
</div>


{% endblock content %}