{% extends "election/admin_base.html" %}
{% block content %}
<div class="container">
<div class="col">
	<h1 class="text-center mt-5">Add New Election</h1>
	<a id="add" href="#" class="btn btn-secondary my-3 text-white float-right">Add Action</a>
</div>
<form method="POST" action="{% url 'election-add' %}" onsubmit="return checkForm(this);">
	{% csrf_token %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Election Name</th>
				<th scope="col">Action</th>
			</tr>
		</thead>

		<tbody id="add-table">

		</tbody>
	</table>
	<button id="saveBtn" type="submit" class="btn btn-info my-3 save" disabled
	name="checkBtn">Save</button>
</form>
<a class="btn btn-primary my-3 float-right text-white"
href="{% url 'election-edit' %}"
>Edit Election</a>
</div>


{% endblock content %}