{% extends "election/admin_base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
	<h1>Edit Course</h1>
</div>
{% if objectCount > 0 %}
<div class="d-flex">
	<div class="p-2">
	<select class="form-control col-sm-12" onchange="location = this.value;">

  		{% for college in colleges %}
  		{% if college_id == college.id %}
  		<option value="" selected>
  			{{ college.college_name }}
  		</option>
  		{% else %}
  		<option value="">
  			{{ college.college_name }}
  		</option>
  		{% endif %}
  		{% endfor %}
	</select>
		<small class="form-text text-muted m-1">Select college to filter</small>
	</div>
	<div class="ml-auto p-2">
		<div class="d-flex align-items-start flex-column" >
  			<div class="p-2">
  				<a id="add" class="btn btn-primary text-white"
					href="{% url 'course-add' %}">Add Course</a>
  			</div>
  			
  		</div>		
	</div>
</div>

<div class="d-flex justify-content-center">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Position Name</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for course in courses %}
			{% if college_id == course.college.id %}
			<tr class="sortable">
				<th class="align-middle" scope="row">{{ forloop.counter }}</th>
				<td class="align-middle">{{ course }}</td>
				<td>
					<button type="button" class="btn btn-secondary mt-1 mr-1" data-toggle="modal" data-target="#staticBackdrop" data-whatever="{{ course.course_name }}" data-url="{% url 'course-update' course.id %}">
						<i class="fas fa-edit fa-fw"></i>
					</button>
					<button type="button" class="btn btn-danger mt-1 mr-1" data-toggle="modal" data-target="#staticDelete" data-whatever="{{ course.course_name }}" data-url="{% url 'course-delete' course.id %}">
						<i class="fas fa-trash-alt fa-fw"></i>
					</button>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
</tbody>
</table>
</div>
<div class="d-flex justify-content-end m-3">
	<div class="p-2">
		<a href="{% url 'view-utilities' %}" class="btn btn-secondary">Back</a>
	</div>
</div>
{% else %}
<div class="d-flex align-items-start flex-column" >
  			
  			
 </div>
<div class="d-flex flex-column">
  	<div class="p-2 align-self-center">
  		<h1 class="text-muted">No Data for course</h1>
  	</div>
  	<div class="p-2 align-self-center">
  		<a id="add" class="btn btn-primary text-white" href="{% url 'course-add' %}">Click here to add Course</a>
  	</div>
</div>

{% endif %}
<!-- Modal edit -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Edit Course</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<form id="update-modal" method="POST" onsubmit="return checkForm(this);">
				{% csrf_token %}
				<div class="modal-body">
					<div class="form-group">
						<label for="inputPositionEdit">New Course Name</label>
						<input type="text" class="form-control" id="inputText" aria-describedby="editInput" placeholder="new" name="inputEdit" required>
						<small id="emailHelp" class="form-text text-muted">Current Boni Avenue Branch(main).</small>
					</div>
				</div>
				<div class="modal-footer">
					
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button id="saveBtn" type="submit" class="btn btn-primary save"
					onclick="this.disabled=true;this.value='Sending, please wait...';this.form.submit();">Save Changes</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal Delete already added campus -->
<div class="modal fade" id="staticDelete" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Delete Course</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<form id="delete-modal" method="POST" onsubmit="return checkForm(this);">
				{% csrf_token %}
				<div class="modal-body">
					Are you sure you want to delete this?
					<br>
					<p class="text-name font-weight-bold text-dark"></p>
				</div>
				<div class="modal-footer">
					
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button id="delete" type="submit" class="btn btn-danger"
					name="checkBtn">Save Changes</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}