{% extends "election/admin_base.html" %}
{% block content %}
{% if action == 'edit' %}
<div class="d-flex justify-content-center">
	<h1>Edit Positions</h1>
</div>
<div class="d-flex">
	<div class="p-2">
	<select class="form-control col-sm-12" onchange="location = this.value;">

  		{% for election in electionTypeFilters %}
  		{% if electionTypeId == election.id %}
  		<option value="{% url 'position-edit-filter' 'edit' election.id %}" selected>
  			{{ election.election_name }}
  		</option>
  		{% else %}
  		<option value="{% url 'position-edit-filter' 'edit' election.id %}">
  			{{ election.election_name }}
  		</option>
  		{% endif %}
  		{% endfor %}
	</select>
		<small class="form-text text-muted m-1">Select election type to filter</small>
	</div>
	<div class="ml-auto p-2">
		<div class="d-flex align-items-start flex-column" >
  			<div class="p-2">
  				<a id="add" class="btn btn-primary text-white"
					href="{% url 'position-add' %}">Add Position</a>
  			</div>
  			<div class="p-2">
  			<form action="{% url 'position-arrange' 'arrange' electionTypeId %}" method="POST">
  				{% csrf_token %}
  				<button type="submit" id="add" class="btn btn-info"
				>Sort Position
				</button>
			</form>
  			</div>
  			</div>		
	</div>
</div>
{% if objectCount > 0 %}
<div class="d-flex justify-content-center">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Position Name</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for position in positionFilters %}
			{% if electionTypeId == position.3 %}
			<tr class="sortable">
				<th class="align-middle" scope="row">{{ position.2 }}</th>
				<td class="align-middle">{{ position.1 }}</td>
				<td>
					<button type="button" class="btn btn-secondary mt-1 mr-1" data-toggle="modal" data-target="#staticBackdrop" data-whatever="{{ position.1 }}" data-url="{% url 'position-update' position.0 %}" disabled>
						<i class="fas fa-edit"></i>
					</button>
					<button type="button" class="btn btn-danger mt-1 mr-1" data-toggle="modal" data-target="#staticDelete" data-whatever="{{ position.1 }}" data-url="{% url 'position-delete' position.0 %}" disabled>
						<i class="fas fa-trash-alt"></i>
					</button>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
</tbody>
</table>
</div>
<div class="d-flex justify-content-end m-3">
	<div class="p-2">
		<a href="{% url 'view-utilities' %}" class="btn btn-secondary">Back</a>
	</div>
</div>
{% else %}
<div class="d-flex justify-content-center">
	<h1 class="text-muted">No Data</h1>
</div>
{% endif %}
<!-- Modal edit -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<form id="update-modal" method="POST">
				{% csrf_token %}
				<div class="modal-body">
					<div class="form-group">
						<label for="exampleInputEmail1">New Position Name</label>
						<input type="text" class="form-control" id="inputText" aria-describedby="emailHelp" placeholder="new" name="inputEdit">
						<small id="emailHelp" class="form-text text-muted">Current Boni Avenue Branch(main).</small>
					</div>
				</div>
				<div class="modal-footer">
					
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button id="saveBtn" type="submit" class="btn btn-primary save"
					onclick="this.disabled=true;this.value='Sending, please wait...';this.form.submit();">Save Changes</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal Delete already added campus -->
<div class="modal fade" id="staticDelete" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<form id="delete-modal" method="POST">
				{% csrf_token %}
				<div class="modal-body">
					Are you sure you want to delete this?
					<br>
					<p class="text-dark"></p>
				</div>
				<div class="modal-footer">
					
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button id="delete" type="submit" class="btn btn-danger"
					onclick="this.disabled=true;this.value='Sending, please wait...';this.form.submit();">Save Changes</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% else %}
	{% include "election/administrator/utilities/arrange_position_utilities.html" %}
{% endif %}
{% endblock content %}